---
import { Picture } from 'astro:assets';
import { getCollection } from 'astro:content';

import PageLayout from '@layouts/PageLayout.astro';

import ExternalLink from '@components/links/ExternalLink.astro';
import InternalLink from '@components/links/InternalLink.astro';

import { SITE_METADATA } from '../../consts';

import avatarImage from './avatar.png';

const posts = (await getCollection('blog'))
    .filter((post) => post.data.tags.includes('brokenrobot'))
    .sort((a, b) => a.data.publishDate.valueOf() - b.data.publishDate.valueOf());
---

<PageLayout
    pageTitle="About"
    pageDescription="About"
>
    <Fragment slot="content">
        <h1>About</h1>

        <section>
            <h2>About me</h2>

            <div class="flex flex-col justify-between gap-4 lg:flex-row lg:gap-10">
                <div>
                    <p>
                        Hello there, my name is Tamas Mezei! I work as a software engineer / architect in Zurich,
                        Switzerland.
                    </p>

                    <p>
                        From my early days tinkering with computers and programming languages to my years of
                        professional experience in the field, I have come to appreciate the power of software to
                        transform lives and businesses. As the web and cloud have become increasingly important and
                        ubiquitous, I have focused my attention on mastering these technologies and exploring their
                        potential to create scalable, secure, and user-friendly solutions.
                    </p>

                    <p>
                        Through this website, I hope to not only showcase my work and expertise but also contribute to
                        the wider software development community. I believe in the power of collaboration, open source,
                        and continuous learning, and I hope my <InternalLink href="/blog">blog posts</InternalLink> and other
                        content will inspire others in their own journeys.
                    </p>

                    <p>
                        I'm also a firm believer in making the internet a better place, that's why I've created a
                        website that's simple, clean, and free from all the annoying distractions that plague the
                        internet these days.
                    </p>

                    <p>
                        Being said that you won't find any ads, affiliate links, or spyware here, just pure
                        unadulterated content.
                    </p>

                    <p>
                        I hope you enjoy exploring my website, and if you have any questions or comments, feel free to
                        reach out to me. And let's make the internet a more awesome place, one byte at a time!
                    </p>
                </div>

                <div class="flex items-center justify-center">
                    <Picture
                        src={avatarImage}
                        alt="Tamas Mezei avatar"
                        width={300}
                        height={300}
                        formats={['avif', 'webp']}
                        widths={SITE_METADATA.SRC_SET_BREAKPOINTS}
                        loading="lazy"
                        decoding="async"
                        pictureAttributes={{
                            class: 'max-w-none rounded-full'
                        }}
                        class="max-w-none rounded-full"
                    />
                </div>
            </div>
        </section>

        <section>
            <h2>About this website</h2>

            <p>
                I like to think of this website as my own little digital playground. The current version of the website
                is a minimum viable product (MVP) and represents an initial step towards my ultimate vision. I aim to
                maintain a minimalistic approach and only introduce new features or modifications when they are truly
                necessary.
            </p>

            <p>
                The website's source code is available on <ExternalLink
                    href="https://github.com/mezeitamas/brokenrobot.xyz"
                >
                    GitHub
                </ExternalLink>. Please don't hesitate to create an <ExternalLink
                    href="https://github.com/mezeitamas/brokenrobot.xyz/issues"
                >
                    issue
                </ExternalLink>
                if you encounter a bug or typo, or if you have any suggestions to offer.
            </p>

            <p>
                I'll be documenting any improvements or modifications to the website through blog posts that will be
                published on this site:
            </p>

            <ul>
                {
                    posts.map((post) => (
                        <li>
                            <InternalLink href={`/blog/${post.slug}/`}>{post.data.title}</InternalLink>
                        </li>
                    ))
                }
            </ul>
        </section>

        <section>
            <h2>Attribution</h2>

            <h3>Implementing this website</h3>
            <ul>
                <li>
                    <ExternalLink href="https://astro.build">Astro</ExternalLink>
                </li>
                <li>
                    <ExternalLink href="https://tailwindcss.com">TailwindCSS</ExternalLink>
                </li>
                <li>
                    <ExternalLink href="https://prettier.io">Prettier</ExternalLink>
                </li>
                <li>
                    <ExternalLink href="https://eslint.org">ESlint</ExternalLink>
                </li>
                <li>
                    <ExternalLink href="https://www.typescriptlang.org">TypeScript</ExternalLink>
                </li>
                <li>
                    <ExternalLink href="https://playwright.dev">Playwright</ExternalLink>
                </li>
                <li>
                    <ExternalLink href="https://www.dotenv.org">Dotenv</ExternalLink>
                </li>
                <li>
                    <ExternalLink href="https://editorconfig.org">EditorConfig</ExternalLink>
                </li>
                <li>
                    <ExternalLink href="https://nodejs.org">Node.js</ExternalLink>
                </li>
                <li>
                    <ExternalLink href="https://github.com/Schniz/fnm">Fast Node Manager (fnm)</ExternalLink>
                </li>
                <li>
                    <ExternalLink href="https://code.visualstudio.com">Visual Studio Code</ExternalLink>
                </li>
            </ul>

            <h3>Creating content</h3>
            <ul>
                <li>
                    <ExternalLink href="https://firefly.adobe.com">Adobe Firefly</ExternalLink>
                </li>
                <li>
                    <ExternalLink href="https://excalidraw.com">Excalidraw</ExternalLink>
                </li>
                <li>
                    <ExternalLink href="https://www.drawio.com">Draw.io</ExternalLink>
                </li>
                <li>
                    <ExternalLink href="https://feathericons.com">Feather Icons</ExternalLink>
                </li>
            </ul>

            <h3>Hosting</h3>
            <ul>
                <li>
                    <ExternalLink href="https://aws.amazon.com">AWS</ExternalLink>

                    <ul>
                        <li>
                            <ExternalLink href="https://aws.amazon.com/s3/">S3</ExternalLink>
                        </li>
                        <li>
                            <ExternalLink href="https://aws.amazon.com/cloudfront/">CloudFront</ExternalLink>
                        </li>
                        <li>
                            <ExternalLink href="https://aws.amazon.com/route53/">Route 53</ExternalLink>
                        </li>
                        <li>
                            <ExternalLink href="https://aws.amazon.com/certificate-manager/">
                                Certificate Manager
                            </ExternalLink>
                        </li>
                    </ul>
                </li>
                <li>
                    <ExternalLink href="https://www.terraform.io">Terraform</ExternalLink>
                </li>
            </ul>

            <h3>Other tools</h3>
            <ul>
                <li>
                    <ExternalLink href="https://www.docker.com">Docker</ExternalLink>
                </li>
                <li>
                    <ExternalLink href="https://kubernetes.io">Kubernetes</ExternalLink>
                </li>
                <li>
                    <ExternalLink href="https://helm.sh">Helm</ExternalLink>
                </li>
                <li>
                    <ExternalLink href="https://minikube.sigs.k8s.io/">Minikube</ExternalLink>
                </li>
                <li>
                    <ExternalLink href="https://www.nginx.com">nginx</ExternalLink>
                </li>
            </ul>
        </section>
    </Fragment>
</PageLayout>
