# Dependency directories
node_modules/

# Cache folder
.cache/

# Build output
src/gatsby-types.d.ts

# Coverage directory used by tools like istanbul
reports
coverage
*.lcov

# MacOS
.DS_Store

# Dotenv
.env
