---
import type { CollectionEntry } from 'astro:content';
import type { HTMLTag } from 'astro/types';

import InternalLink from '@components/links/InternalLink.astro';
import PublishDate from '@components/blog-posts/PublishDate.astro';

type Props = {
    posts: CollectionEntry<'blog'>[];
    HeadingType: HTMLTag;
};

const { posts, HeadingType } = Astro.props;
---

<Fragment>
    {
        posts.map((post) => (
            <article class="flex flex-col items-start justify-between">
                <header>
                    <HeadingType>
                        <InternalLink href={`/blog/${post.slug}/`}>{post.data.title}</InternalLink>
                    </HeadingType>

                    <PublishDate date={post.data.publishDate} />

                    <div>{post.data.excerpt}</div>
                </header>
            </article>
        ))
    }
</Fragment>
