---
import { getCollection } from 'astro:content';

import PageLayout from '@layouts/PageLayout.astro';

import CompactBlogPosts from '@components/blog-posts/CompactBlogPosts.astro';
import InternalLink from '@components/links/InternalLink.astro';

import { SITE_METADATA } from '../consts';

const posts = (await getCollection('blog'))
    .sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf())
    .slice(0, 3);
---

<PageLayout
    pageTitle={SITE_METADATA.TITLE}
    pageDescription={SITE_METADATA.DESCRIPTION}
>
    <Fragment slot="content">
        <section class="mb-24">
            <h1>Hello there, I'm Tamas!</h1>

            <p>
                Welcome to my little corner of the web, where I share my professional experiences, thoughts, adventures,
                and projects with the world. For further information, please feel free to check out my <InternalLink
                    href="/about"
                >
                    About
                </InternalLink> page.
            </p>
        </section>

        <section>
            <h2>Recent blog posts</h2>

            <CompactBlogPosts
                posts={posts}
                HeadingType="h3"
            />
        </section>
    </Fragment>
</PageLayout>
