---
import '@pagefind/default-ui/css/ui.css';

import PageLayout from '@layouts/PageLayout.astro';
---

<PageLayout
    pageTitle="Search"
    pageDescription="Search any articles, blog posts, and more on this site."
>
    <Fragment slot="content">
        <h1>Search</h1>

        <div id="pagefind-search"></div>
    </Fragment>
</PageLayout>

<script>
    import { PagefindUI } from '@pagefind/default-ui';

    window.addEventListener('DOMContentLoaded', () => {
        new PagefindUI({ element: '#pagefind-search', showSubResults: true });
    });
</script>
