---
import { Picture } from 'astro:assets';

import PageLayout from '@layouts/PageLayout.astro';

import InternalLink from '@components/links/InternalLink.astro';

import { SITE_METADATA } from '../../consts';

import n404Image from './404.jpg';
---

<PageLayout
    pageTitle="404"
    pageDescription="Not found"
>
    <Fragment slot="content">
        <div>
            <div class="text-center">Oops... page NOT found</div>

            <Picture
                src={n404Image}
                alt="404"
                formats={['avif', 'webp']}
                widths={SITE_METADATA.SRC_SET_BREAKPOINTS}
                loading="lazy"
                decoding="async"
                pictureAttributes={{
                    class: 'rounded-lg'
                }}
                class="rounded-lg"
            />

            <div class="text-center">
                I want to go <InternalLink href="/">Home</InternalLink>!
            </div>
        </div>
    </Fragment>
</PageLayout>
