---
import { Image } from 'astro:assets';

import PageLayout from '@layouts/PageLayout.astro';

import InternalLink from '@components/links/InternalLink.astro';

import brokenRobotImage from './broken-robot.png';
---

<PageLayout
    pageTitle="404"
    pageDescription="Not found"
>
    <Fragment slot="content">
        <div class="lg:gap-18 flex flex-col justify-center gap-4 lg:flex-row">
            <div class="text-center">
                <p>Oops...</p>
                <p class="text-4xl font-bold">404</p>
                <p>Page NOT found</p>
            </div>

            <div class="self-center">
                <Image
                    src={brokenRobotImage}
                    alt="Broken Robot"
                    width={300}
                    height={300}
                    loading="eager"
                />
            </div>
        </div>

        <div class="text-center">
            I want to go <InternalLink href="/">Home</InternalLink>!
        </div>
    </Fragment>
</PageLayout>
